@{
    ViewData["Title"] = "Users";
}


<a class="nav-link text-dark" asp-controller="User" asp-action="AllUsers">All Users</a>

<a class="nav-link text-dark" asp-controller="User" asp-action="Colours">Colours</a>

<a class="nav-link text-dark" asp-controller="User" asp-action="AgePlusTwenty">Age Plus Twenty Years</a>
